select * from tblGL_ShenasehOmomi
where Sharh like N'%کشور%'

select * from tblGL_ShenasehOmomi
where Codeasli=25
---------------------------------------------------
select * from tblGL_ShenasehOmomi
where Sharh like N'%استان%'

select * from tblGL_ShenasehOmomi
where Codeasli=47
--------------------------------------------------------
select * from tblGL_ShenasehOmomi
where Sharh like N'%کرج%'

select * from tblGL_ShenasehOmomi
where Codeasli=23
--------------------------------------------------------
select * from tblGL_ShenasehOmomi
where Sharh like N'%نوع مشتری%'

select * from tblGL_ShenasehOmomi
where Codeasli=152